<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<!-- oracle -->
				<!-- 
					<property name="driver" value="oracle.jdbc.OracleDriver"/>  
					<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
				-->
				<property name="url" value="jdbc:mysql://1.11.169.27:3336/DEV_DB"/>
				<property name="username" value="devuser1"/>
				<property name="password" value="1q2w3e4r5t"/>
			</dataSource>
		</environment>
	</environments>
	
	

</configuration>
