<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.jk.xteam.sql.userMapper">


	<!-- 복합객체 / List 객체 생성 -->
	<resultMap id="selectUsersResult" type="com.jk.xteam.domain.User">
		<id property="userId" column="USER_ID" />
		<result property="userNm" column="USER_NM" />
		<result property="userAddr" column="USER_ADDR" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userType" column="USER_TYPE" />
	</resultMap>
	
	<select id="selectUsers" resultMap="selectUsersResult" parameterType="com.jk.xteam.domain.User" >
	<![CDATA[
	SELECT 
		USER_ID, 
		USER_NM, 
		USER_ADDR, 
		USER_EMAIL, 
		USER_TYPE 
	FROM tb_user
	]]>
	</select>
	
	<insert id="insertUser" parameterType="com.jk.xteam.domain.User" useGeneratedKeys="true" keyProperty="userId" >
		<!-- 
		<selectKey keyProperty="userId" resultType="int" order="BEFORE">
    		SELECT MAX(USER_ID + 1) FROM TB_USER
  		</selectKey>
  		-->
	INSERT INTO tb_user
		(
		USER_NM,
		USER_ADDR,
		USER_EMAIL,
		USER_TYPE)
	VALUES
	(
		#{userNm},
		#{userAddr},
		#{userEmail},
		#{userType}		
	)	
	</insert>


	<update id="updateUser" parameterType="com.jk.xteam.domain.User">
	UPDATE tb_user
	<trim prefix="SET" suffixOverrides=",">
		<if test="userNm != null ">USER_NM = #{userNm},</if>
		<if test="userAddr != null ">USER_ADDR = #{userAddr},</if>
		<if test="userEmail != null ">USER_EMAIL = #{userEmail},</if>
		<if test="userType > 0 ">USER_TYPE = #{userType},</if>
	</trim>	
	WHERE USER_ID = #{userId}
	</update>
	
	
	<!-- multi -->
	<delete id="deleteUser" parameterType="com.jk.xteam.domain.User">
	DELETE FROM tb_user
	 WHERE USER_ID = #{userId}	
	</delete>

</mapper>